page-registro-proveedor {

    .card.title{
        text-align: justify;
        font-weight: bold;
    }
    .card.subtitle{
        text-align: justify;
    }

    .content-button{
        text-align: center;
    }

    .fondo{
        background:#ECF0F1;
    }
}
