<!--
  Generated template for the GestionEmpresasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>GestionEmpresas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding #pageTo>

  <div padding *ngIf="show">
    <!--Comprobamos si la variable show esta en true, si es asi se muestran los campos-->
    <ion-item>
      <ion-label floating>Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="empresa.nombre"></ion-input>
      <!--Mediante el atributo ngModel, este campo tendrá el valor del name de la fruta-->
    </ion-item>
    <ion-item>
      <ion-label floating>Nit</ion-label>
      <ion-input type="number" [(ngModel)]="empresa.nit"></ion-input>
      <!--Mediante el atributo ngModel, este campo tendrá el valor del quantity de la fruta-->
    </ion-item>
    <ion-item>
      <ion-label floating>Dirección</ion-label>
      <ion-input type="text" [(ngModel)]="empresa.direccion"></ion-input>
      <!--Mediante el atributo ngModel, este campo tendrá el valor del quantity de la fruta-->
    </ion-item>
    <ion-item>
      <ion-label floating>Teléfono</ion-label>
      <ion-input type="phone" [(ngModel)]="empresa.telefono"></ion-input>
      <!--Mediante el atributo ngModel, este campo tendrá el valor del quantity de la fruta-->
    </ion-item>
    <button (click)="saveEmpresa()" ion-button full>Guardar</button>
    <!--Mediante el atributo click, llamará a nuestra funcion de guardar fruta en home.ts-->
    <button *ngIf="idSelected != 0" (click)="removeSelectedEmpresa()" ion-button full color="danger">Borrar</button>
    <!--Solo aparecerá si idSelected es diferente a 0, Mediante el atributo click, llamará a nuestra funcion de remove fruta en home.ts-->
  </div>



  <ion-card *ngFor="let empresa of empresas">
    <ion-card-header style="font-weight: bold">{{empresa.nombre}}</ion-card-header>
    <ion-card-content>

      <p><strong>Nombre:</strong> {{empresa.nombre}}</p>

      <p><strong>Nit:</strong> {{empresa.nit}}</p>

      <p><strong>Dirección:</strong> {{empresa.direccion}}</p>

      <p><strong>Teléfono:</strong> {{empresa.telefono}}</p>

    </ion-card-content>
    <div class="content-button">
    <button ion-button round (click)="selectEmpresa(empresa.id)">
      Modificar empresa
    </button>
  </div>
  </ion-card>




  <ion-fab bottom right>
    <button (click)="show = !show" ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
    <!--Con este botón mostramos u ocultamos los campos-->
  </ion-fab>

</ion-content>