page-selec-test {

    .card-title{
        text-align: center;
        font-weight: bold;
    }
    
    .card-subtitle{
        text-align: justify;
    }
    
    .content-button{
        text-align: center;
    }
    
    .fondo{
        background:#ECF0F1;
    }
    
}
